@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 35%;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* ohhh that's how you make columns!*/
  border-radius: 0.6rem;
  margin: 2rem;
  overflow: hidden;
}
.column {
  padding: 2.5rem;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.column h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
}
.column p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
}
.column a {
  text-decoration: none;
  margin-top: 3.75rem;
  display: inline-block; /* to make the margin work because a is an inline element and we can't apply any margin to it*/
  background-color: hsl(0, 0%, 95%);
  padding: 0.8rem 1.6rem;
  border-radius: 1.5rem;
  border: 0.12rem solid hsl(0, 0%, 95%);
  transition: all 0.2s ease-in-out;
}
.sedans a {
  color: hsl(31, 77%, 52%);
}
.suvs a {
  color: hsl(184, 100%, 22%);
}
.luxury a {
  color: hsl(179, 100%, 13%);
}
.column a:hover {
  color: hsl(0, 0%, 95%);
  background-color: transparent;
}
@media only screen and (max-width: 780px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 420px) {
  .wrapper {
    margin: 2rem 0.5rem;
  }
}
